{
  "retainLines": true,
  "env": {
    "test": {
      "plugins": ["transform-decorators-legacy", "istanbul"]
    },
    "test-no-cov": {
      "plugins": ["transform-decorators-legacy"]
    }
  },
  "ignore": [
    "resources/**"
  ]
}
